Checking the data in SQL Alchemy

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://kestra:k3str4@localhost:5432/postgres-zoomcamp")

In [2]:
engine.connect()

In [16]:
query01 = """
SELECT COUNT(1) FROM public.yellow_tripdata;
"""

pd.read_sql(query01, con=engine)

      count
0  14851920

In [6]:
query02 = """
SELECT COUNT(1) FROM public.yellow_tripdata
WHERE filename = 'yellow_tripdata_2019-01.csv';
"""

pd.read_sql(query02, con=engine)

     count
0  7667792

## Truncate all the data before back filling

In [25]:
from sqlalchemy import text

query = text("TRUNCATE TABLE public.yellow_tripdata CASCADE;")
with engine.connect() as conn:
    conn.execute(query)
    conn.commit()

## Checking 2019 Uploads

In [26]:
query03 = """
SELECT filename FROM public.yellow_tripdata
GROUP BY filename
"""

pd.read_sql(query03, con=engine)

Empty DataFrame
Columns: [filename]
Index: []

# Assignments

## First Question

Within the execution for Yellow Taxi data for the year 2020 and month 12: what is the uncompressed file size (i.e. the output file yellow_tripdata_2020-12.csv of the extract task)?

In [ ]:
# Answer: 128.3 mb

## Second Question

What is the rendered value of the variable file when the inputs taxi is set to green, year is set to 2020, and month is set to 04 during execution?

In [ ]:
# Answer: green_tripdata_2020-04.csv

## Third Question

How many rows are there for the Yellow Taxi data for all CSV files in the year 2020?

In [4]:
# Answer: 24,648,499

## Fourth Question

How many rows are there for the Green Taxi data for all CSV files in the year 2020?

In [ ]:
# Answer: 1,734,051

## Fifth Question

How many rows are there for the Yellow Taxi data for the March 2021 CSV file?

In [ ]:
# Answer: 1,925,152

## Sixth Question

How would you configure the timezone to New York in a Schedule trigger?

In [ ]:
# Answer: Add a timezone property set to America/New_York in the Schedule trigger configuration